.page-title {
    border: 1px solid transparent;
    padding: 100px;
    text-align: center;
    margin-bottom: 30px;
    background-image: url(https://images.unsplash.com/photo-1636783186375-b8bb268df9c0?q=80&w=3133&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.arrow i {
    padding-right: 3px;
    padding-left: 3px;
}

.arrow {
    padding-top: 10px;
}