.page-title {
    border: 1px solid transparent;
    padding: 100px;
    border-radius: 0 0 50px 50px;
    margin-bottom: 50px;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1492538368677-f6e0afe31dcc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.arrow i {
    padding-right: 3px;
    padding-left: 3px;
}

.arrow {
    padding-top: 10px;
}

.arrow a {
    color: azure;
}

.name {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mphil {
    border-radius: 0 50px 0 50px;
    border: 1px solid transparent;
    margin-top: 20px;
    width: 980px;
    background-image: linear-gradient(to bottom right, #7097A8, #d3e7ee);
}

.msc {
    border: 1px solid transparent;
    margin-top: 20px;
    width: 980px;
    background-image: linear-gradient(to bottom right, #7097A8, #d3e7ee);
    margin-bottom: 30px;
    border-radius: 0 50px 0 50px;
}

.level {
    border: 2px solid transparent;
    display: grid;
    grid-template-areas: "first-sem second-sem";
    padding-bottom: 20px;
}

.sem-table {
    border-bottom: 2px solid #948447;
    padding: 10px 0;
    border-radius: 20px;
}

.sem-table td {
    padding: 5px 0;
}

.sem {
    padding-top: 0;
}

.title {
    padding: 20px 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
}

.specs {
    resize: horizontal;
    overflow: auto;
    width: 700px;
    padding: 40px 10px;
    margin: auto;
    margin-left: 0;
}